body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr;
    margin: 0px;
    height: 100vh;

    font-family: "Montserrat", "Roboto Condensed", sans-serif;
    background-color: rgb(255, 127, 80, 0.1);
}

.page-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;
}

.page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    border: solid 1px black;
}

.nav-button {
}

.content-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border: solid 1px black;
}

.content-tab {
}

.content-header {
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
